/* -------------------- */
/* Header(Blue) Section */
/* -------------------- */
header {
    background-color: #007BFF;
    padding: 10px;
    color: white;
}

/* ------------------ */
/* Body(Gray) Section */
/* ------------------ */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    overflow-y: auto;
}

/* ----------------*/
/* Menubar Section */
/* --------------- */
nav ul {
    list-style-type: none;
    padding: 0;
}
/* list items (not hovered) */
nav ul li {
    display: inline;
    margin-right: 20px;
}
/* list items (hovered) */
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* ------------------------- */
/* QR code container Section */
/* ------------------------- */
.container {
    align: center;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ---------------------- */
/* Inventory form Section */
/* ---------------------- */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
    }

    /* Wrapping each label and input */
    .form-group {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    }

    label {
    width: 150px; /* Fixed width for labels */
    text-align: left;
    font-size: 1rem;
    }

    input {
    flex: 1; /* Makes input scalable */
    padding: 5px;
    font-size: 1rem;
    }

/* --------------------------- */
/* Buttons Add, Delete Section */
/* --------------------------- */
.button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

/* -------------------------- */
/* Social media links Section */
/* -------------------------- */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 40px;
}
