body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    overflow-y: auto; /* Allow scrolling */
}

header {
    background-color: #007BFF;
    padding: 10px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #ddd;
    border: 1px solid #ccc;
}

input[readonly] {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 40px;
}
